<h1 class="right center">All payable parties</h1>

<div class="container right center">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to "Add new payable party", new_payable_url, class: 'btn btn-primary', style: 'float:left' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Description</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Image</th>
            <th>Amount</th>
            <th>Edit</th>
            <th>Add transaction</th>
            <th>Delete party</th>
          </tr>
        </thead>
        <tbody>
          <% @payable.each do |payable| %>
            <tr>
              <td><%= payable.date %></td>
              <td><%= payable.name %></td>
              <td><%= payable.description %></td>
              <td><%= payable.phone_no %></td>
              <td><%= payable.address %></td>
              <td><%= payable.img %></td>
              <td><%= payable.amount %></td>
              <td><%= link_to "Edit", edit_payable_url(payable), class: 'btn btn-success' %></td>
              <td><%= link_to "Add transaction", '#', class: 'btn btn-warning' %></td>
              <td><%= link_to payable, class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?"}, style: "float: right" do %>
                <span class="glyphicon glyphicon-remove"></span> Delete party
              <% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
