<% provide(:title, 'Log in') %>
<h1 class="center">Log in</h1>

<div class="container">
  <div class="row">
    <div class="span6 offset3">
      <%= form_for(:session, url: sessions_path) do |f| %>

        <div class="well">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control"%>

          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>

          <%= f.submit "Log in", class: "btn btn-large btn-primary" %>

      <% end %>

      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
      </div>
    </div>
  </div>
</div>
