<% provide(:title, "Edit user") %>

<h1 class="center right">Update profile</h1>

<div class="container right">
  <div class="row">
    <div class="span6 offset3">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <div class="well well-md">
          <%= gravatar_for(current_user) %>
          <%= f.file_field :image, class: "form-control" %>
          <%= f.hidden_field :image_cache %>

          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>

          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>

          <%= f.label :address %>
          <%= f.text_field :address, class: "form-control" %>

          <%= f.label :bank_name %>
          <%= f.text_field :bank_name, class: 'form-control' %>

          <%= f.label :account_number %>
          <%= f.text_field :account_number, class: 'form-control' %>

          <div class="well">
            <%= f.label "Contacts" %><br>
            <%= f.label :mobile %>
            <%= f.telephone_field :mobile, class: 'form-control' %>

            <%= f.label :home %>
            <%= f.telephone_field :home, class: 'form-control' %>

            <%= f.label :work %>
            <%= f.telephone_field :work, class: 'form-control' %>
          </div>

          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>

          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "form-control" %>

          <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
        </div>
    <% end %>
    </div>
  </div>
</div>
