<% provide(:title, @user.name) %>
<div class="container right", style="width: 85%">
  <h1>
    <%= gravatar_for(@user) %>
    <%= @user.name %>
  </h1>

  <div class="well">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            Personal details.
          </div>
          <table class="table table-bordered table-hover">
            <tr>
              <td>Name:</td>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <td>Email:</td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <td>Address:</td>
              <td><%= @user.address %></td>
            </tr>
            <tr>
              <td>Bank Name:</td>
              <td><%= @user.bank_name %></td>
            </tr>
            <tr>
              <td>A/C no.:</td>
              <td><%= @user.account_number %></td>
            </tr>
            <tr>
              <td>Nationality:</td>
              <td><%= @user.nationality %></td>
            </tr>
            <tr>
              <td colspan="2">Contacts<br />
                <table class="table table-bordered table-hover">
                  <tr>
                    <td>Mobile:</td>
                    <td><%= @user.mobile %></td>
                  </tr>
                  <tr>
                    <td>Home:</td>
                    <td><%= @user.home %></td>
                  </tr>
                  <tr>
                    <td>Work:</td>
                    <td><%= @user.work %></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            Account details.
          </div>
          <table class="table table-hover table-bordered">
            <tr>
              <td>Post:</td>
              <td><%= @user.account.post %></td>
            </tr>
            <tr>
              <td>Salary:</td>
              <td><%= @user.account.salary %></td>
            </tr>
            <tr>
              <td>Joining date:</td>
              <td><%= @user.account.joining_date %></td>
            </tr>
            <tr>
              <td>Attendance:</td>
              <td></td>
            </tr>
            <tr>
              <td>Working plan:</td>
              <td><%= @user.account.working_plan %></td>
            </tr>
          </table>
        </div>
        <% if current_user.is_admin %>
          <%= link_to "Edit", edit_account_path(@user), class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
    <% if current_user == @user %>
      <%= link_to "Edit", edit_user_path(current_user), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
