<h1 class="right center">All receivable parties</h1>

<div class="container right center">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to 'Add receivable party', new_receivable_url, class: 'btn btn-primary', style:"float: left" %>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Description</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Image</th>
            <th>Amount</th>
            <th>Edit</th>
            <th>Add transaction</th>
            <th>Delete party</th>
          </tr>
        </thead>
        <tbody>
          <% @receivable.each do |receivable| %>
            <tr>
              <td><%= receivable.date %></td>
              <td><%= receivable.name %></td>
              <td><%= receivable.description %></td>
              <td><%= receivable.phone_no %></td>
              <td><%= receivable.address %></td>
              <td><%= receivable.img %></td>
              <td><%= receivable.amount %></td>
              <td><%= link_to "Edit", edit_receivable_url(receivable), class: 'btn btn-success' %></td>
              <td><%= link_to "Add transaction", '#', class: 'btn btn-warning' %></td>
              <td><%= link_to receivable, class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?"}, style: "float: right" do %>
                <span class="glyphicon glyphicon-remove"></span> Delete party
              <% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
