<% provide(:title, "Edit user's account details") %>
<h1 class="center right">Edit user's account details</h1>

<div class="container right">
  <div class="row">
    <div class="span6 offset3">
      <%= form_for(@account) do |f| %>
        <div class="well well-md">
          <%= f.label :post %>
          <%= f.text_field :post, class: "form-control" %>

          <%= f.label :salary %>
          <%= f.number_field :salary,  class:"text_field form-control", step: :any %>

          <%= f.label :joining_date %>
          <%= f.datetime_local_field :joining_date, class: "form-control" %>

          <%= f.label :working_plan %>
          <table class="table">
            <tr>
              <td><%= f.radio_button :working_plan, 'Part' %></td>
              <td><%= f.label 'Part' %></td>
            </tr>
            <tr>
              <td><%= f.radio_button :working_plan, 'Full' %></td>
              <td><%= f.label 'Full' %></td>
            </tr>
          </table>

          <%= f.label "Addition" %><br>
          <%= f.label "Holiday" %>
          <%= f.number_field :addition_holiday, class: "form-control" %>

          <%= f.label "Overtime" %>
          <%= f.number_field :addition_overtime, class: "form-control" %>

          <%= f.label "Miscellaneous Addition" %>
          <%= f.number_field :addition_miscellaneous, class: "form-control" %>

          <%= f.label "Deduction" %><br>
          <%= f.label "Loan" %>
          <%= f.number_field :deduction_loan, class: "form-control" %>

          <%= f.label "Late" %>
          <%= f.number_field :deduction_late, class: "form-control" %>

          <%= f.label "Miscellaneous Deduction" %>
          <%= f.number_field :deduction_miscellaneous, class: "form-control" %>

          <%= f.label "Company Deduction" %><br>
          <%= f.label "Absent" %>
          <%= f.number_field :company_deduction_absent, class: "form-control" %>

          <%= f.label "WTAX(%)" %>
          <%= f.number_field :company_deduction_wtax, class: "form-control" %>

          <%= f.submit "Update account", class: 'btn btn-large' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
